CREATE USER '#USERNAME#'@'localhost' IDENTIFIED BY '#PASSWORD#';
CREATE USER '#USERNAME#'@'%' IDENTIFIED BY '#PASSWORD#';
GRANT ALL PRIVILEGES ON #DATABASE# . * TO '#USERNAME#'@'localhost';
GRANT ALL PRIVILEGES ON #DATABASE# . * TO '#USERNAME#'@'%';
FLUSH PRIVILEGES;
